.Weather {
  border: 1px solid rgb(0, 204, 255);
  font-family: monospace;
  padding: 10px;
  border-radius: 6px;
  background-color: #96fbcc;
  background-image: linear-gradient(225deg, #96fbcc 0%, #8db1ff 74%);
}

.Weather h1 {
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: 100;
  line-height: 30px;
  font-size: 24px;
}

.Weather form {
  display: block;
  margin-top: 0em;
}

.Weather canvas {
  position: relative;
  left: 54px;
  bottom: -10px;
}

.Weather li {
  list-style: none;
  position: relative;
  left: 24px;
}

.Weather .temperature {
  font-weight: 400;
  color: rgb(175, 4, 175);
  font-size: 80px;
  position: relative;
  left: 108px;
  top: -21px;
}

.Weather .city-entered {
  text-decoration: underline;
}

.Weather .unit {
  position: absolute;
  left: 207px;
  bottom: 103px;
}
