.Weather {
  border: 1px solid orange;
  font-family: monospace;
  padding: 10px;
  border-radius: 6px;
}

.Weather h1 {
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: 100;
  line-height: 30px;
  font-size: 24px;
}

.Weather form {
  display: block;
  margin-top: 0em;
}

.Weather img {
  position: absolute;
  right: 64px;
  top: 17px;
}

.Weather li {
  font-weight: 200;
  line-height: 20px;
  font-size: 14px;
  list-style: none;
  position: relative;
  left: -45px;
}

.Weather ul {
  margin: 0px;
  padding: 0px;
}

.Weather .temperature {
  font-weight: 400;
  color: orange;
  font-size: 80px;
  position: relative;
  left: 152px;
  top: -11px;
}

.Weather .city-entered {
  text-decoration: underline;
}

.Weather .unit {
  position: absolute;
  right: -35px;
  top: 14px;
}
