.WeatherForecast {
  text-align: center;
 
}

.WeatherForecast canvas {
  display: table-row;
  margin: 5px auto;
   width: 40px;
  height: 40px;
}

.WeatherForecast .DailyForecast {
  display: block;
  margin: 5px 0;
}
